/* ---- Create Account Page Start --- */
.row{
  margin:0;
}
.createaccount{
    margin:100px auto;
  }
  .createaccountform{
    margin-top: 40px;
  }

  .account_heading{
    color: #2d318a;
    font-family: 'Oswald';
    font-size: 40pt;
    font-weight: 800;
    letter-spacing: 2px;
    font-weight: 600;
  }
  
  .createaccount_label{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
  
  .required{
    color:red;
    margin-left: 2px;
  }
  
  .button_cont{
    color: #fff !important;
    width: 350px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-family: 'Oswald';
    margin-top: 20px;
    font-size: 20pt;
    font-weight: 800;
    }
  
    .btnlogin{
      background: #2d318a;
      margin-bottom: 40px;
    }
  
    .btnlogin i{
      margin-top: 0px;
      padding-right: 7px;  }
      
      .image img{
        margin-top:100px;
        height:600px;
         width:600px;
      }

      .image .logo1{
        width: 220px;
        height: 100px;
        margin-left: 50px;

      }
      .image .logo2{
        width: 200px;
        height: 40px;
        margin-left: 70px;
      }

      @media screen and (max-width: 767px) {
        .image{
          display: none;
        }
        .createaccount p{
          text-align: center;
        }
        .button_cont{
          width: -webkit-fill-available !important;
        }
        .account_heading{
          font-size: 25px;
        }
        .createaccount_label{
          font-size: 20px;
        }

    }
  /* ---- Create Account Page End ---- */