.label1{
    font-size: 20px;
    font-family: sans-serif;
}
.label2{
    font-size: 20px;
    font-family: sans-serif;
    margin:15px;
}
.formgroup{
    margin-left: -15px;
    margin-bottom: 55px;
}