.big-banner{
    background-image: url("/Assets/Images/AC landing image.png");
    /* Position and center the image to scale nicely on all screens */
    background-position: right top;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .welcomepageheading{
    text-align: center;
    width: 100%;
    margin-top:180px;
  }

  .jumbotron{
    height: 630px;
    padding-top: 150px;
  }

  .display-2{
    text-align: center;
    position: relative;
    top: 50%;
    left: 0%;
    font-size: 100px;
    right:18%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
  }

  @media screen and (max-width: 767px) {
    .jumbotron{
      height: auto;
      padding-top: 150px;
    }
    .welcomepageheading{
      margin-top: 70px;
    }
    .display-2{
      text-align: center;
      position: absolute;
      font-size: 42px;
      top: 30%;
      left: 0;
      right: 0;
      transform: none;
    }
  }