/* ---- LostPassword Page Start --- */
.lostpassword{
    margin:100px auto;
  }
  .lostpassword_heading{
    color: #2d318a;
    font-family: 'Oswald';
    font-size: 46pt;
    font-weight: 800;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .createaccountform{
    margin-top: 40px;
  }
  
  .lostpassword_label1{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-right: 200px;
  }
    
  .lostpassword_label2{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
  
  
  .required{
    color:red;
    margin-left: 2px;
  }
  
  .button_cont{
    color: #fff !important;
    width: 350px;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-family: 'Oswald';
    margin-top: 20px;
    font-size: 20pt;
    font-weight: 800;
    }
  
    .btnlostpassword{
      background: #2d318a;
      margin-bottom: 40px;
    }
  
    .btnlostpassword i{
      margin-top: 0px;
      padding-right: 7px;
    }

    .lostpwd{
      color:#ed1b24;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bold;
     }

    .lostpasswordimage img{
      margin-top:90px;
      height:500px;
       width:500px;
    }
    @media screen and (max-width: 767px) {
      .lostpasswordimage img{
        display: none;
      }
      .lostpassword .lostpasswordheading{
        text-align: center;
      }
      .lostpassword_label1{
        padding-right: 90px;
        font-size: 21px;
      }
      .lostpassword_label2{
        font-size: 21px;
      }
      .button_cont{
        width: -webkit-fill-available !important;
      }
      .lostpassword_heading{
        font-size: 25px;
      }
    }
  /* ---- LostPassword Page End ---- */