.App{
  background-image: url("/Assets/Images/BG.png");
  background-size: cover;
  position: relative;
}

/* Header */

.big-banner{
  background-image: url("/Assets/Images/header.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.display-2{
  text-align: center;
  position: relative;
  top: 50%;
  left: 18%;
  right:18%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Oswald';
  font-weight: 700;
  letter-spacing: 3px;
}

/* Home Page */

.homepage{
  padding-top: 100px;
}
.button_cont{
color: #fff !important;
width: 350px;
text-decoration: none;
padding: 10px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
font-family: 'Oswald';
margin-top: 20px;
font-size: 20pt;
font-weight: 800;
}
.btnapply{
  margin-top: 80px;
  background: #e31b24;
}
.btnlogin{
  background: #2d318a;
  margin-bottom: 80px;
}
.button_cont i {
  padding: 6px;
}

.homepage b{
  color: #2d318a;
  font-family: 'Oswald';
  font-size: 36pt;
  font-weight: 800;
  letter-spacing: 2px;
}
